CurrencyExchangeWpfClient/Connected Services/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:52239/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:52239/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetExchangeRate_InputMessage">
    <wsdl:part name="parameters" element="tns:GetExchangeRate" />
  </wsdl:message>
  <wsdl:message name="IService1_GetExchangeRate_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetExchangeRateResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ConvertToPln_InputMessage">
    <wsdl:part name="parameters" element="tns:ConvertToPln" />
  </wsdl:message>
  <wsdl:message name="IService1_ConvertToPln_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConvertToPlnResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ConvertFromPln_InputMessage">
    <wsdl:part name="parameters" element="tns:ConvertFromPln" />
  </wsdl:message>
  <wsdl:message name="IService1_ConvertFromPln_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConvertFromPlnResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ConvertCurrency_InputMessage">
    <wsdl:part name="parameters" element="tns:ConvertCurrency" />
  </wsdl:message>
  <wsdl:message name="IService1_ConvertCurrency_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConvertCurrencyResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_CreateUser_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateUser" />
  </wsdl:message>
  <wsdl:message name="IService1_CreateUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateUserResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetBalances_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBalances" />
  </wsdl:message>
  <wsdl:message name="IService1_GetBalances_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBalancesResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetExchangeRate">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetExchangeRate" message="tns:IService1_GetExchangeRate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetExchangeRateResponse" message="tns:IService1_GetExchangeRate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConvertToPln">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ConvertToPln" message="tns:IService1_ConvertToPln_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ConvertToPlnResponse" message="tns:IService1_ConvertToPln_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConvertFromPln">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ConvertFromPln" message="tns:IService1_ConvertFromPln_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ConvertFromPlnResponse" message="tns:IService1_ConvertFromPln_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConvertCurrency">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ConvertCurrency" message="tns:IService1_ConvertCurrency_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ConvertCurrencyResponse" message="tns:IService1_ConvertCurrency_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CreateUser" message="tns:IService1_CreateUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CreateUserResponse" message="tns:IService1_CreateUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBalances">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetBalances" message="tns:IService1_GetBalances_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetBalancesResponse" message="tns:IService1_GetBalances_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetExchangeRate">
      <soap:operation soapAction="http://tempuri.org/IService1/GetExchangeRate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConvertToPln">
      <soap:operation soapAction="http://tempuri.org/IService1/ConvertToPln" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConvertFromPln">
      <soap:operation soapAction="http://tempuri.org/IService1/ConvertFromPln" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConvertCurrency">
      <soap:operation soapAction="http://tempuri.org/IService1/ConvertCurrency" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateUser">
      <soap:operation soapAction="http://tempuri.org/IService1/CreateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBalances">
      <soap:operation soapAction="http://tempuri.org/IService1/GetBalances" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:52239/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>